# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
